:root{
    --primary-transparent-gradient: linear-gradient(120deg, rgba(212, 141, 0, 0.8) 50%, rgba(255, 200, 0, 0.8) 80%, rgba(218, 157, 6, 0.6) 60%, rgba(255, 174, 24, 0.7) 10%);
    --primary-gradient: linear-gradient(120deg, rgb(212, 141, 0) 50%, rgb(255, 200, 0) 80%, rgb(218, 157, 6) 60%, rgb(255, 174, 24) 10%);
    --primary-tone: rgb(227, 136, 0);
    --primary-dark-tone: rgb(175, 126, 0);
    --primary-light-tone: #ffdb5a;
}

body {
    font-family: sans-serif;
    background-color: #fff7e6;
    color: #333;
    margin: 0;
    padding: 0;
    font-size: larger;
}

#root {
    max-width: 100vw;
    max-height: 100vh;
    margin: 0 auto;
    text-align: center;
}

/* Header */
.header {
    width: 100%;
    height: 10%;
    background-image: url(/navicon.png);
    background-color: rgb(255,255,255);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    position: fixed;
    display: flex;
    box-shadow: 1px 1px 1px var(--primary-tone);
    top: 0;
    z-index: 2;
}

.header-nav {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 0 10px;
    flex-grow: 1;
}
  
.header-ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap; 
    gap: 10px;
  }
  
.header-li {
    text-decoration: none;
    color: white; 
    max-width: 2rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    list-style: none;
    display: inline-block;
    transition: transform 0.2s; 
}

.header-li:hover {
    filter: drop-shadow(0 0 15px var(--primary-dark-tone));
    transform: scale(1.1);
}

.header-option {
    width: 5px;
    height: 5px;
    object-fit: cover;
}

/* profile */
.profile-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content : center;
    background: rgb(200,200,200);
}

.profile-figure {
    border-radius : 5%;
    background: white;
    margin : 4px;
}

.profile-pic {
    border-radius : 10%;
    margin : 2px;
    width: 35px;
    height: 35px;
    object-fit : cover;
}

.profile-button {
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.5rem;
    background: rgb(200,200,200);
    transition: all .2s ease-in-out;
}

.profile-button:hover {
    background-color: var(--primary-light-tone);
    box-shadow: 0 0 15px 5px var(--primary-dark-tone);
    transform: scale(1.1);
}

/* sidemenu */
.sidemenu {
    position: fixed;
    display: flex;
    top: 70px;
    width: 20%;
    height: 92%;
    margin: 10px auto;
    padding: 60px 0;
    justify-content: center;
    background: linear-gradient(to top, rgb(255, 246, 212), rgb(255, 239, 182));
    color: white; 
    z-index: 1;
    opacity: 0; 
    transform: translateX(-100%); 
    transition: transform 0.3s ease, opacity 0.3s ease; 
    overflow-y: auto;
}
  
.sidemenu .visible {
      opacity: 1;
      transform: translateX(0); 
  }
  
.sidemenu .hidden {
      opacity: 0; 
      transform: translateX(-100%); 
  }
  
.sidemenu-ul {
    list-style-type: none;
    padding: 0;
  }
  
.sidemenu-li {
    padding: 20px;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, color 0.2s, font-size 0.2s; 
  }
  
.sidemenu-li:hover {
    border-radius: 15%;
    border-bottom: 4px solid cyan;
    transform: scale(1.1);
    color: cyan;
    background-color: rgb(30, 0, 67); 
    box-shadow: 0 0 18px 15px rgb(35, 2, 117);
  }  

/* footer */
.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    text-align: center;
    position: fixed;
    background: var(--primary-gradient);
    bottom: 0;
}

.footer-content {
    padding: 2rem 1rem;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.9);
}

.footer-button {
    position: relative;
    background: var(--primary-dark-tone);
    border: 1px solid white;
    padding : 5px;
    margin-right : 40px; 
}

.footer-icon {
    transform: rotate(90deg);
    object-fit : cover;
    height : 15px;
    width : 15px;
}

.footer p {
    margin: 0 0 1rem 0;
}

.footer .social-icons a {
    color: white;
    margin: 0 0.5rem;
    text-decoration: none;
}

.footer .social-icons a:hover {
    color: var(--primary-light-tone);
}

/* layout */
.layout-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-content {
    padding: 10rem 0;
    background-image: 
        linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2)),
        url(../public/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.home-hero {
    background: var(--primary-transparent-gradient);
    display: inline-block;
    max-width: 90%;
    border-radius: 40px;
    color: white;
    text-align: center;
    padding: 5rem 1rem;
}

.home-hero-title {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    padding: 30px;
    filter: drop-shadow(0 0 10px var(--primary-dark-tone));
    transition: all 0.2s ease-in-out;
    display: inline-block;
    cursor: default;
}

.home-hero-title:hover {
    border-radius: 10px;
    filter: drop-shadow(0 0 10px var(--primary-light-tone));
    transform: scale(1.1);
}

.home-hero-content {
    font-size: 2rem;
    margin-bottom: 2rem;
    cursor: default;
}

.home-hero-button {
    background-color: var(--primary-tone);
    color: white;
    padding: 1rem 2rem;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    transition: all 0.3s ease;
}

.home-hero-button:hover {
    background-color: var(--primary-light-tone);
    box-shadow: 0 0 15px 5px var(--primary-dark-tone);
    transform: scale(1.1);
}

.home-features-section {
    padding: 5rem 1rem;
    text-align: center;
}

.home-features-section-overlay {
    animation: cover .5s ease-in-out forwards;
}

@keyframes cover {
    from {
        background-color: transparent;
    }
    to {
        background-color: rgba(255, 255, 255, 0.8);
    }
}

.home-features-section-overlay-hidden {
    animation: uncover 1.5s ease-in-out forwards;
}

@keyframes uncover {
    from {
        background-color: rgba(255, 255, 255, 0.8);
    }
    to {
        background-color: transparent;  
    }
}

.home-features-title {
    font-size: 3.5rem;
    color: var(--primary-dark-tone);
    filter: drop-shadow(0 0 5px white);
    margin-bottom: 1rem;
    display: inline-block;
    transition: all 0.2s ease-in-out;
}

.home-features-title:hover {
    border-radius: 10px;
    filter: brightness(150%);
    transform: scale(1.1);
    cursor: default;
}

.home-features-content {
    font-size: 2rem;
    color: black;
    margin-bottom: 2rem;
}

.home-features-content:hover {
    cursor: default;
}

.home-features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

.feature-card {
    background-color: transparent;
    width: 40rem;
    height: 30rem;
    perspective: 1000px;
}

.feature-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    transform-style: preserve-3d;
    display: flex;
    text-align: center;
    justify-content: center;
}
  
.feature-card:hover .feature-card-inner {
    transform: rotateY(180deg) scale(1.1);
}
  
.feature-card-front, .feature-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.4);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
    border: 4px solid var(--primary-dark-tone);
}
  
.feature-card-front {
    background: var(--primary-transparent-gradient);
    color: white;
    overflow: hidden;
}
  
.feature-card-back {
    background: linear-gradient(120deg, rgba(255, 255, 255, 1) 60%, rgba(240, 240, 240, 0.8) 80%, rgba(218, 157, 6, 0.6) 60%, rgba(255, 174, 24, 0.7) 70%);
    transform: rotateY(180deg);
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center; 
  }

.feature-card-title {
    color: var(--primary-dark-tone);
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.feature-card-brief {
    color: black;
    font-size: 1.8rem;
    text-align: center;
    max-width: 80%;
    position: relative;
    line-height: 50px;
}

/* por ahora */
.feature-card-content {
    display: none;
}

.feature-icon {
    position: inherit;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1em;
}

/* form */
.form-container {
    background-color: rgba(230, 230, 230, .9);
    height: 40rem;
    width: 35rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center; 
    justify-content: center; 
    padding: 20px; 
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: Arial, sans-serif; 
    font-size: 1.3rem;
    border-radius: 50px;
    box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.2);
}

.form-label {
    font-size: 24px;
    margin-bottom: 5px;
    display: block;
}

#label-password {
    margin-top: 2rem;
}

.form-input {
    width: 80%;
    padding: 10px;
    font-size: larger;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid var(--primary-tone);
    display: block;
    transition: all 0.15s ease-in-out;
}

.form-input:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--primary-tone); 
    border-color: var(--primary-light-tone); 
}

.icon-container {
    position: absolute; 
    top: -32px; 
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
}

.icon-circle {
    height: 100px; 
    width: 100px; 
    border-radius: 50%;
    background-color: var(--primary-tone); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container {
    display: flex; 
    gap: 2rem;
    margin-top: 3rem;
    width: 80%;
}

.accept-button, .cancel-button {
    flex: 1; 
    padding: 10px;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.accept-button {
    background-color: var(--primary-tone);
    
}

.cancel-button {
    background-color: rgb(150, 0, 0);
}

.accept-button:hover, .cancel-button:hover {
    transform: scale(1.1);
}

.accept-button:hover {
    background-color: var(--primary-light-tone);
}

.cancel-button:hover {
    background-color: rgb(200, 0, 0);
}

.error {
    color:rgb(200, 0, 0);
    height: 1rem;
}

.index-buton {
    background-color: black;
    color: white;
}

.manage-container {
    width: 75%;
    position: relative;
    height: 60%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 60px;
    padding: 20px auto;
}

.manage-list {
    background: rgba(230, 230, 230, 0.9);
    height: 70%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.list-ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.list-li {
    padding: 3px;
    list-style-type: none;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonGroup {
    list-style-type: none;
    padding: 0; 
    margin: 0;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: rgb(230, 230, 230,.3);
    padding: 10px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.modal-container {
    position: fixed;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    padding: 50px;
    z-index: 10;
    transition: all 0.2s ease-in-out;
    animation: showModal .2s ease-in-out;
}

@keyframes showModal {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }


.error-container {
    background-color: rgba(0, 0, 0, 0.1);
}

.spinner {
    border: 2rem solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 2rem solid var(--primary-tone);
    width: 15rem;
    height: 15rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { 
        transform: rotate(0deg) 
    }

    100% {
        transform: rotate(360deg) 
    }
}