:root{
    --primary-transparent-gradient: linear-gradient(120deg, rgba(212, 141, 0, 0.8) 50%, rgba(255, 200, 0, 0.8) 80%, rgba(218, 157, 6, 0.6) 60%, rgba(255, 174, 24, 0.7) 10%);
    --primary-gradient: linear-gradient(120deg, rgb(212, 141, 0) 50%, rgb(255, 200, 0) 80%, rgb(218, 157, 6) 60%, rgb(255, 174, 24) 10%);
    --primary-tone: rgb(227, 136, 0);
    --primary-dark-tone: rgb(175, 126, 0);
    --primary-light-tone: #ffdb5a;
}

body {
    font-family: sans-serif;
    background-color: #fff7e6;
    color: #333;
    margin: 0;
    padding: 0;
    font-size: larger;
}

#root {
    max-width: 100vw;
    max-height: 100vh;
    margin: 0 auto;
    text-align: center;
}

/* common */
button, .button{
    width: fit-content;
    color: white;
    padding: 1rem 2rem;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

button:hover, .button:hover {
    box-shadow: 0 0 15px 5px var(--primary-dark-tone);
    transform: scale(1.1);
}

.modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.modal-container {
    position: fixed;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    padding: 10px;
    transition: all 0.2s ease-in-out;
    animation: showModal .2s ease-in-out;
    z-index: 10;
}

@keyframes showModal {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
}


.error-container {
    background-color: rgba(0, 0, 0, 0.1);
}

.spinner {
    border: 2rem solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 2rem solid var(--primary-tone);
    width: 15rem;
    height: 15rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { 
        transform: rotate(0deg) 
    }

    100% {
        transform: rotate(360deg) 
    }
}

/* Header */
.header {
    width: 100%;
    height: 10%;
    background-image: url(/navicon.png);
    background-color: rgb(255,255,255);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    position: fixed;
    display: flex;
    box-shadow: 1px 1px 1px var(--primary-tone);
    top: 0;
    z-index: 2;
}

.header-nav {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 0 10px;
    flex-grow: 1;
}
  
.header-ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row nowrap; 
    gap: 3rem;
    margin-right: 3rem;
  }
  
.header-li {
    text-decoration: none;
    color: white; 
    max-width: 2rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    list-style: none;
    transition: all 0.2s ease;
}

.header-li:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 10px var(--primary-tone));
}

.header-option {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
}

/* profile */
.profile-container {
    display: flex;
    flex-flow: row;
    justify-content : center;
    background: rgb(200,200,200);
    /* max-width: 22%; */
    height: 100%;
    /* padding: 0; Espaciado interno */
    overflow: hidden; 
}

.profile-figure {
    border-radius : 5%;
    background: white;
    margin : 4px;
}

.profile-pic {
    border-radius : 10%;
    margin : 2px;
    width: 35px;
    height: 35px;
    object-fit : cover;
}


.profile-button {
    margin: 1rem;
    background: rgb(200,200,200);
    transition: all .2s ease-in-out;
    color: black;
}

.profile-button:hover {
    background-color: var(--primary-light-tone);
}

/* sidemenu */
.sidemenu {
    position: fixed;
    display: flex;
    top: 70px;
    width: 20%;
    height: 92%;
    margin: 10px auto;
    padding: 60px 0;
    justify-content: center;
    background: linear-gradient(to top, rgb(255, 246, 212), rgb(255, 239, 182));
    color: white; 
    z-index: 1;
    opacity: 0; 
    transform: translateX(-100%); 
    transition: transform 0.3s ease, opacity 0.3s ease; 
    overflow-y: auto;
}
  
.sidemenu .visible {
      opacity: 1;
      transform: translateX(0); 
  }
  
.sidemenu .hidden {
      opacity: 0; 
      transform: translateX(-100%); 
  }
  
.sidemenu-ul {
    list-style-type: none;
    padding: 0;
  }
  
.sidemenu-li {
    padding: 20px;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, color 0.2s, font-size 0.2s; 
  }
  
.sidemenu-li:hover {
    border-radius: 15%;
    border-bottom: 4px solid cyan;
    transform: scale(1.1);
    color: cyan;
    background-color: rgb(30, 0, 67); 
    box-shadow: 0 0 18px 15px rgb(35, 2, 117);
  }  

/* footer */
.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    text-align: center;
    position: fixed;
    background: var(--primary-gradient);
    bottom: 0;
}

.footer-content {
    padding: 2rem 1rem;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.9);
}

.footer-button {
    width: 4rem;
    position: relative;
    background: var(--primary-dark-tone);
    border: 1px solid white;
    padding : 5px;
    margin-right : 40px; 
}

.footer-icon {
    transform: rotate(90deg);
    object-fit : cover;
    height : 25px;
    width : 25px;
}

.footer p {
    margin: 0 0 1rem 0;
}

.footer .menu-dropdown {
    position: relative;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 10;
}

/* Estilos generales para el contenedor de los enlaces sociales */
.social-icons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.social-icon {
    width: 70px;
    height: 70px;
    background-color: rgb(144, 144, 144); /* Color base */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition-duration: 0.3s;
    cursor: pointer;
}

.social-icon:hover {
    transform: scale(1.1); /* Efecto de escala */
}

/* Estilos específicos para cada red social */
.fab:hover {
    background-color: #00acee; /* Facebook */
}

.x:hover {
    background-color: #FFF; /* X */
}

.link:hover {
    background-color: #0072b1; /* LinkedIn */
}

.what:hover {
    background-color: #14d085; /* WhatsApp */
}

.inst:hover {
    background-color: #d62976; /* Instagram */
}

.tel:hover {
    background-color: #0052cd; /* Telegram */
}

.social {
    width: 45px;
    height: 45px;
    transition: all 0.3s ease-in-out;
}

/* layout */
.layout-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-content {
    padding: 10rem 0;
    background-image: 
        linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2)),
        url(/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

/* components */
.home-hero {
    background: var(--primary-transparent-gradient);
    display: inline-block;
    max-width: 90%;
    border-radius: 40px;
    color: white;
    text-align: center;
    padding: 5rem 1rem;
}

.home-hero-title {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    padding: 30px;
    filter: drop-shadow(0 0 10px var(--primary-dark-tone));
    transition: all 0.2s ease-in-out;
    display: inline-block;
    cursor: default;
}

.home-hero-title:hover {
    border-radius: 10px;
    filter: drop-shadow(0 0 10px var(--primary-light-tone));
    transform: scale(1.1);
}

.home-hero-content {
    font-size: 2rem;
    margin-bottom: 2rem;
    cursor: default;
}

.home-hero-button {
    background-color: var(--primary-tone);
}

.home-hero-button:hover {
    background-color: var(--primary-light-tone);
    box-shadow: 0 0 15px 5px var(--primary-dark-tone);
    transform: scale(1.1);
}

.home-features-section {
    padding: 5rem 1rem;
    text-align: center;
}

.home-features-section-overlay {
    animation: cover .5s ease-in-out forwards;
}

@keyframes cover {
    from {
        background-color: transparent;
    }
    to {
        background-color: rgba(255, 255, 255, 0.8);
    }
}

.home-features-section-overlay-hidden {
    animation: uncover 1.5s ease-in-out forwards;
}

@keyframes uncover {
    from {
        background-color: rgba(255, 255, 255, 0.8);
    }
    to {
        background-color: transparent;  
    }
}

.home-features-title {
    font-size: 3.5rem;
    color: var(--primary-dark-tone);
    filter: drop-shadow(0 0 5px white);
    margin-bottom: 1rem;
    display: inline-block;
    transition: all 0.2s ease-in-out;
}

.home-features-title:hover {
    border-radius: 10px;
    filter: brightness(150%);
    transform: scale(1.1);
    cursor: default;
}

.home-features-content {
    font-size: 2rem;
    color: black;
    margin-bottom: 2rem;
}

.home-features-content:hover {
    cursor: default;
}

.home-features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

.feature-card {
    background-color: transparent;
    width: 40rem;
    height: 30rem;
    perspective: 1000px;
}

.feature-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    transform-style: preserve-3d;
    display: flex;
    text-align: center;
    justify-content: center;
}
  
.feature-card:hover .feature-card-inner {
    transform: rotateY(180deg) scale(1.1);
}
  
.feature-card-front, .feature-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.4);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
    border: 4px solid var(--primary-dark-tone);
}
  
.feature-card-front {
    background: var(--primary-transparent-gradient);
    color: white;
    overflow: hidden;
}
  
.feature-card-back {
    background: linear-gradient(120deg, rgba(255, 255, 255, 1) 60%, rgba(240, 240, 240, 0.8) 80%, rgba(218, 157, 6, 0.6) 60%, rgba(255, 174, 24, 0.7) 70%);
    transform: rotateY(180deg);
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center; 
  }

.feature-card-title {
    color: var(--primary-dark-tone);
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.feature-card-brief {
    color: black;
    font-size: 1.8rem;
    text-align: center;
    max-width: 80%;
    position: relative;
    line-height: 50px;
}

/* por ahora */
.feature-card-content {
    display: none;
}

.feature-icon {
    position: inherit;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1em;
}

/* form */
.form-container {
    background-color: rgba(230, 230, 230, .9);
    height: 40rem;
    width: 35rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center; 
    justify-content: center; 
    padding: 20px; 
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: Arial, sans-serif; 
    font-size: 1.3rem;
    border-radius: 50px;
    box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.2);
}

.form-label {
    font-size: 24px;
    margin-bottom: 5px;
    display: block;
}

#label-password {
    margin-top: 2rem;
}

.form-input {
    width: 80%;
    padding: 10px;
    font-size: larger;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid var(--primary-tone);
    display: block;
    transition: all 0.15s ease-in-out;
}

.form-input:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--primary-tone); 
    border-color: var(--primary-light-tone); 
}

.icon-container {
    position: absolute; 
    top: -32px; 
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
}

.icon-circle {
    height: 100px; 
    width: 100px; 
    border-radius: 50%;
    background-color: var(--primary-tone); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container {
    width: 80%;
    display: flex; 
    margin-top: 3rem;
    justify-content: space-between;
    gap: 3rem;
    padding: 0;
    margin: 0;
}

.accept-button {
    background-color: var(--primary-tone);
    
}

.cancel-button, .delete-button {
    background-color: rgb(150, 0, 0);
}

.accept-button:hover{
    background-color: var(--primary-light-tone);
}

.cancel-button:hover, .delete-button:hover {
    background-color: rgb(200, 0, 0);
}

.error {
    color:rgb(200, 0, 0);
}

.index-buton {
    background-color: black;
    color: white;
}

.manage-container {
    width: 75%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 237, 197, 0.5);
    border-radius: 20px;
    padding: 10px;
}

.search-form {
    display: flex;
    justify-content: center;
    margin: 10px;
    background-color: rgb(230, 230, 230, .4);
    padding: 10px;
}

.search-input {
    margin: auto 30px;
    width: 40%;
    height: 3.5rem;
}

.search-button {
    background-color: var(--primary-tone);
}

.manage-buttons {
    justify-content: flex-end;
    margin-left: 25rem;
}

.manage-list {
    background: rgba(230, 230, 230, 0.8);
    height: 32rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 10px;
}

.list-item {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #858585;
    transition: all 0.3s ease;
}

.list-item:hover {
    background-color: rgb(255, 255, 255);
}

.list-item-title {
    cursor: default;
}

.add-button {
    background-color: rgb(39, 174, 96);
    transition: all 0.3 ease;
}

.add-button:hover {
    background-color: rgb(46, 204, 113);
}

.edit-button {
    background-color: rgb(255, 130, 75);
}

.edit-button:hover {
    background-color: rgb(255, 153, 102);
}

.details-button {
    background-color: rgb(175, 126, 0);
}

.details-button:hover {
    background-color: rgb(227, 136, 0);
}

.options-button {
    -webkit-appearance: none; /* Compatibilidad con navegadores basados en WebKit */
    -moz-appearance: none; /* Compatibilidad con Firefox */
    appearance: none; /* Eliminar estilo predeterminado */
    background: transparent;
    border: none;
    color: inherit;
    background-image: url(/option.png);
    background-size: cover;
    background-position: center;
    width: 5rem;
    background-color: rgb(149, 149, 149);
}

.options-button:hover {
    background-color: rgb(215, 215, 215);
}

.option-element {
    outline: none;
}

.list-button-container {
    width: fit-content;
    gap: 1rem;
}